GeneralPLC/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "SmartHome",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33ffccafdc0295c0",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "CB9",
        "tooltip": "",
        "group": "70930bef4dc9bcbb",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "a55207c35c835b44"
            ]
        ]
    },
    {
        "id": "d5dbd236b674673f",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "CB10",
        "tooltip": "",
        "group": "70930bef4dc9bcbb",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "cb10",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "e33e894b98160608"
            ]
        ]
    },
    {
        "id": "ee70f97094e95bad",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "CB11",
        "tooltip": "",
        "group": "70930bef4dc9bcbb",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "cb11",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "488969f2d38bc066"
            ]
        ]
    },
    {
        "id": "1bb33962e7eba5ce",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "CB12",
        "tooltip": "",
        "group": "70930bef4dc9bcbb",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "cb12",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 880,
        "wires": [
            [
                "7cfc42e2399ca443"
            ]
        ]
    },
    {
        "id": "aa35e5da4043837f",
        "type": "ui_led",
        "z": "f6f2187d.f17ca8",
        "order": 2,
        "group": "70930bef4dc9bcbb",
        "width": 3,
        "height": 1,
        "label": "Status CB9",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Status CB9",
        "x": 910,
        "y": 60,
        "wires": []
    },
    {
        "id": "5f9b5f219ccf3ebd",
        "type": "ui_led",
        "z": "f6f2187d.f17ca8",
        "order": 4,
        "group": "70930bef4dc9bcbb",
        "width": 3,
        "height": 1,
        "label": "Status CB10",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Status CB10",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "2e113389290de56f",
        "type": "ui_led",
        "z": "f6f2187d.f17ca8",
        "order": 6,
        "group": "70930bef4dc9bcbb",
        "width": 3,
        "height": 1,
        "label": "Status CB11",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Status CB11",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "ac66da853057ef76",
        "type": "ui_led",
        "z": "f6f2187d.f17ca8",
        "order": 8,
        "group": "70930bef4dc9bcbb",
        "width": 3,
        "height": 1,
        "label": "Status CB12",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Status CB12",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "bc4d4798bda52460",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "InitialState",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 720,
        "wires": [
            [
                "33ffccafdc0295c0",
                "d5dbd236b674673f",
                "ee70f97094e95bad",
                "1bb33962e7eba5ce"
            ]
        ]
    },
    {
        "id": "a55207c35c835b44",
        "type": "modbus-write",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0x00",
        "quantity": "1",
        "server": "2cef5a67ad04430e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 900,
        "y": 560,
        "wires": [
            [
                "a66f08f350ab7cbc"
            ],
            []
        ]
    },
    {
        "id": "a66f08f350ab7cbc",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "e33e894b98160608",
        "type": "modbus-write",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0x01",
        "quantity": "1",
        "server": "2cef5a67ad04430e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 900,
        "y": 660,
        "wires": [
            [
                "94fed45790796552"
            ],
            []
        ]
    },
    {
        "id": "488969f2d38bc066",
        "type": "modbus-write",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0x02",
        "quantity": "1",
        "server": "2cef5a67ad04430e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 900,
        "y": 780,
        "wires": [
            [
                "5d8b25bf29088bbe"
            ],
            []
        ]
    },
    {
        "id": "7cfc42e2399ca443",
        "type": "modbus-write",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0x03",
        "quantity": "1",
        "server": "2cef5a67ad04430e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 900,
        "y": 880,
        "wires": [
            [
                "61f9304d5b2d0258"
            ],
            []
        ]
    },
    {
        "id": "94fed45790796552",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "5d8b25bf29088bbe",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 720,
        "wires": []
    },
    {
        "id": "61f9304d5b2d0258",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 820,
        "wires": []
    },
    {
        "id": "174b66832a818fd7",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Modbus Read CB Status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0x00",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "2cef5a67ad04430e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "611a44dbd16e9599",
                "633e148e0344b8f1",
                "042f9ec3f5b6b112",
                "80dcb81d55350739"
            ],
            []
        ]
    },
    {
        "id": "611a44dbd16e9599",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract CB9",
        "func": "var newMsg = { payload: msg.payload[0]};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": [
            [
                "aa35e5da4043837f"
            ]
        ]
    },
    {
        "id": "042f9ec3f5b6b112",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract C11",
        "func": "var newMsg = { payload: msg.payload[2]};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "2e113389290de56f"
            ]
        ]
    },
    {
        "id": "633e148e0344b8f1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract CB10",
        "func": "var newMsg = { payload: msg.payload[1]};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "5f9b5f219ccf3ebd"
            ]
        ]
    },
    {
        "id": "80dcb81d55350739",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract CB12",
        "func": "var newMsg = { payload: msg.payload[3]};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "ac66da853057ef76"
            ]
        ]
    },
    {
        "id": "70930bef4dc9bcbb",
        "type": "ui_group",
        "name": "Smart Home",
        "tab": "deabfc98ab5a2757",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cef5a67ad04430e",
        "type": "modbus-client",
        "name": "Test PyModbus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "deabfc98ab5a2757",
        "type": "ui_tab",
        "name": "GeneralPLC",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]